@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button{
    background: none;
    border: none;
}
button:hover{
    transform: translateY(5px);
    transition: all .3s;
}button:active{
    transform: translateY(9px);
    transition: all .3s;
}
body{
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}


