@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button{
    background: none;
    border: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
