@import './reset.css';


:root {
    --dark-: #24292f;
    --light-: #FFF;
    --danger-: #d90d0d;
    --primary-: #0d5bd9;
    --success-: #0eb21b;

}
.container-2 {
    position: relative;
    max-width: 1320px;
    padding: 40px 20px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 6px;

}
.cards__content {
    max-width: 1320px;
    padding: 40px 20px;
    margin: auto;
    border: 2px solid black;
    margin-top: 100px;
    border-radius: 6px;
    background-color: var(--primary-);
}
.cards__text {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    letter-spacing: 1px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 6px;
    background-color: aliceblue;
}
.cards__sm-text {
    color: var(--primary-);
}
.container {
    max-width: 1360px;
    padding: 40px 20px;
    margin: 0 auto;
}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--dark-);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    z-index: 999;
}

.header:hover {
    background-color: #24292fea;
    transition: all .4s;
}

.header__logo {
    color: var(--light-);
    font-size: 25px;
}

.header__link {
    color: var(--light-);
    margin-left: 55px;
    font-size: 23px;
}

.header__link:hover {
    border-bottom: 1px solid var(--light-);
    transition: .2s;
}

.content {
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    /* margin-top: 4px; */
    align-items: center;
    border-radius: 7px;
    background-color: var(--dark-);
}

.content:hover {
    background-color: #24292fd0;
    transition: .2s;
}

.content img {
    width: 70px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.desc {
    display: grid;
    grid-template-columns: 1fr 1fr .3fr .3fr;
    color: var(--light-);
    width: 800px;
}

.desc__stars {
    color: gold;
}

.desc__title {
    font-size: 18px;
    font-weight: 700;
    color: var(--light-);

}

.content__title {
    text-align: center;
    margin-bottom: 80px;
}

.pagination {
    display: flex;
    column-gap: 12px;
    row-gap: 50px;
    flex-wrap: wrap;

}

.pagination__button {
    padding: 15px 25px;
    background-color: var(--primary-);
    color: var(--light-);
    border-radius: 13px;
    font-size: 23px;

}

.pagination__button:hover {
    opacity: .7;
}

.wrapper {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    padding: 30px 0;
}

.get-btn {
    padding: 12px 40px;
    background-color: var(--dark-);
    color: var(--light-);
    font-size: 24px;
    border-radius: 16px;
}

.get-btn:hover {
    opacity: .7;
}

.seacrh-input {
    width: 220px;
    height: 45px;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    font-size: 19px;
}

::-webkit-input-placeholder {
    text-align: center;
    color: var(--dark-);
    font-size: 15px;
    font-weight: 500;
}


.loader {
    border: 4px solid rgba(185, 8, 244, 0.31);
    border-left-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
}

.loader {
    border: 4px solid rgba(185, 8, 244, 0.385);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
}

.loader {
    border: 4px solid rgba(185, 8, 244, 0.278);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.footer {
    padding: 20px 40px;
    background-color: var(--dark-);
    margin-top: 200px;
    color: var(--light-);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    margin-left: 23px;
}

.content__text {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
}

.text {
    display: none;
    color: var(--primary-);
    font-weight: 500;
    border: 2px solid black;
    border-top: none;
    margin-bottom: 6px;
    border-radius: 4px;
    padding: 5px 8px;
    transform: translateY(-4px);
}

.img {
    position: absolute;
}

.details:hover {
    border-bottom: 1px solid var(--light-);
    width: 60px;
}

.page {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.link {
    color: var(--danger-);
}

.fa-star {
    color: gold;
}

.burger {
    display: none;

}

.burger__btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 2px;
    background: var(--light-);
    transition: .6s;
    z-index: 9999;

}

.burger__btn::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--light-);
    top: -10px;
    left: 0;
    transition: .6s;
}

.burger__btn::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: var(--light-);
    bottom: -10px;
    left: 0;
    transition: .6s;

}

#burger:checked+.burger__btn {
    background: #00000000;


}

#burger:checked+.burger__btn::before {
    transform: rotate(45deg);
    top: 0;
}

#burger:checked+.burger__btn::after {
    transform: rotate(-45deg);
    bottom: 0;
}

.burger__nav {
    position: absolute;

    background-color: #24292fea;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    top: -200px;
    transition: .6s;
}

.burger__link {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--light-);
}

#burger:checked~.burger__nav {
    top: 70px;

}

.cards {
    display: flex;
    justify-content: space-between;
}

.exit {

    font-size: 40px;
    margin-left: 20px;
    color: #0d5bd9;
}

.exit:hover {
    color: var(--dark-);
    transition: .3s;
}

.details {
    color: var(--primary-);
}

.spinner {
    margin: auto;
    margin-top: 250px;
    width: 56px;
    height: 56px;
    display: grid;
    color: #004dff;
    background: radial-gradient(farthest-side, currentColor calc(100% - 7px), #0000 calc(100% - 6px) 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 15px), #000 calc(100% - 13px));
    border-radius: 50%;
    animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    background: linear-gradient(currentColor 0 0) center,
        linear-gradient(currentColor 0 0) center;
    background-size: 100% 11px, 11px 100%;
    background-repeat: no-repeat;
}

.spinner::after {
    transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
    100% {
        transform: rotate(1turn);
    }
}